@import "tailwindcss";
@import "@fontsource-variable/geist/wght.css";
@import "@fontsource-variable/geist-mono/wght.css";

:root {
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono Variable", monospace;
}

* {
  box-sizing: border-box;
  font-family: var(--font-sans);
}

code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}
